
   
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
</head>

<body>
    <h1>Create A Gallery</h1>
    <h2>Create an account to start your gallery</h2>
    <form action="/auth/sign-up" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <br>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirm-password" />
        <br>
        <button type="submit">Sign up</button>
    </form>
</body>

</html>