<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="referrer" content="no-referrer"> <!-- this is placed here to override the 403 error with the imigur-->
    <title>Your Artwork</title>
  </head>
  <body>
    <img src="/assets/banner-logo.png"/>
    <%- include('../partials/nav.ejs') %>
    <h1>Artwork in Your Gallery:</h1>
    <div>
      <% if (user.userGallery.length > 0) {%>
          <% user.userGallery.forEach((artwork) => { %>
            <div class="image-container">
              <img src="<%= artwork.artworkImage %>"></img>  
                <form action="/artwork/<%= artwork._id %>" method="GET"> 
                <button type="submit"><%= artwork.artworkTitle %></button>
              </form>
            </div>
            <div>
              <% }) %>
          <% } else { %>
            <p>No artwork found in your gallery</p>
          <% }%>
          </div>
          <div>
           <form action="/artwork/new" method="GET">
            <button type="submit">Add New Artwork</button>
           </form> 
           </div>     
    </div>
    <p>
        <a href="/auth/sign-out">Sign out</a>
    </p>
  </body>
</html>
