<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="referrer" content="no-referrer"> <!-- this is placed here to override the 403 error with the imigur-->
    <title>Your Artwork</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <img src="../assets/banner-logo.png"/>
    <h1>Artwork in Your Gallery, <%= user.username %> : </h1>
    <p>
        <a href="/auth/sign-out">Sign out</a>
    </p>
  </body>
</html>
