<nav>
    <a href="/artwork">Your Gallery</a>
    <a href="/edit">Edit Your Gallery</a>
        <a href="/artist-profile">Your Artist Profiles</a>
        <a href="/community-gallery">Community Gallery</a>
        
      </nav>
      
  </nav>
  