<nav>
    <a href="/">Your Gallery</a>
    <a href="/editGallery">Edit Your Gallery</a>
        <a href="/gallery/artist">Your Artist Profiles</a>
        <a href="./community">Desserts</a>
        
      </nav>
      
  </nav>
  