<nav>
    <a href="/gallery">Your Gallery</a>
        <a href="/artist-profile">Your Artist Profiles</a>
        <a href="/community-gallery">Community Gallery</a>
        
      </nav>
      
  </nav>
  