<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <meta name="referrer" content="no-referrer"> <!-- this is placed here to override the 403 error with the imigur-->
    <title>Artist Profiles</title>
</head>
<body>
    <img src="../assets/banner-logo.png"/>
    <%- include('../partials/nav.ejs') %> 
    <h1>View <%= user.username %> 's Artist Profiles</h1>

        <br><br>
        <button type="submit">Add a New Artist Profile</button>
        <br><br>
        <button type="edit-profiles">Edit My Profiles</button>
    </form>
    <p>
        <a href="/auth/sign-out">Sign out</a>
    </p>      
</body>
</html>