body {
    background: #fff8ed;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }
  
  h1 {
    color: #9526ea;
    font-size: 3.6em;
  }
  
  